BreakRemover/bin/
BreakRemover/obj/
FontOrganizer/bin/
FontOrganizer/obj/
SimpleWriter/bin/ComplexWriter.vshost.exe
SimpleWriter/bin/
SimpleWriter/obj/
test/bin/
test/obj/
ColorTool/bin/
ColorTool/obj/Debug/App.g.cs
ColorTool/obj/
TestElements/bin/
TestElements/obj/
Data/bin/
Data/obj/
FileExporter/bin/
FileExporter/obj/
XamlRtfConverter/
.vs/SimpleWriter/v15/Server/sqlite3/storage.ide
.vs/SimpleWriter/v15/Server/sqlite3/db.lock
.vs/SimpleWriter/v15/.suo
